<template name="App_body">
	<div class="container">
		<header>
			<div class="header-links-and-lang">
				<div class="header-links">
					<a href="mailto:jcj26@duke.edu?Subject={{_ 'layouts.appBody.subject'}}">{{_ 'layouts.appBody.contact'}}</a> - <a href="https://github.com/joejacob">{{_ 'layouts.appBody.github'}}</a> - <a href="https://www.linkedin.com/in/josephcjacob">{{_ 'layouts.appBody.linkedin'}}</a> - <a href="#">{{_ 'layouts.appBody.resume'}}</a>
				</div>
				<div class="language-toggle container-right">
		          {{#each language in languages}}
		            {{#if isActiveLanguage language}}
		              <span class="active">{{language}}</span>
		            {{else}}
		              <a href="#" class="js-toggle-language">{{language}}</a>
		            {{/if}}
		          {{/each}}
		        </div>
		    </div>
		</header>
		<body>
			<center>
				{{#if Template.subscriptionsReady}}
					{{> Template.dynamic template=main}}
				{{else}}
					{{> App_loading}}
				{{/if}}
			</center>
		</body>
	</div>
</template>