<template name="App_body">
	<div id="main-page">
		<div id="header">
			{{> App_header}}
		</div>
		<div id="content">
			<table class="main-table">
				<tr class="main-tr">
					<th class="main-th">
						<div id="sidebar">
							{{> App_sidebar}}
						</div>
					</th>
					<th class="main-th">
						<div id="main-content">	
							{{#if Template.subscriptionsReady}}
								{{> Template.dynamic template=main}}
							{{else}}
								{{> App_loading}}
							{{/if}}
						</div>
					</th>
				</tr>
			</table>
		</div>
		<div id="footer">
			{{> App_footer}}
		</div>
	</div>
</template>