<template name="App_header">
	<div class="header-links-and-lang">
		<div class="header-home">
			<a href="/">{{_ 'layouts.appBody.home'}}</a>
		</div>
		<div class="header-links">
			<a href="mailto:jcj26@duke.edu?Subject={{_ 'layouts.appBody.subject'}}">{{_ 'layouts.appBody.contact'}}</a> - <a href="https://github.com/joejacob" target="_blank">{{_ 'layouts.appBody.github'}}</a> - <a href="https://www.linkedin.com/in/josephcjacob" target="_blank">{{_ 'layouts.appBody.linkedin'}}</a> - <a href="" class="resume">{{_ 'layouts.appBody.resume'}}</a>
		</div>
		<div class="language-toggle">
			{{#each language in languages}}
				{{#if isActiveLanguage language}}
					<span class="active">{{language}}</span>
				{{else}}
					<a href="" class="js-toggle-language">{{language}}</a>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>