body {
	margin: 10px 20px 20px;
}

th {
	font-weight: normal;
	text-align: left;
}

#header {
	margin-bottom: 30px;
}

#main-section {

}

#sidebar {
	margin-right: 20px;
	display:inline-block;
	vertical-align: top;
	overflow: auto;
}

#main-content {
	margin-left: 20px;
	display:inline-block;
	vertical-align: top;
	overflow: auto;
}

#footer {
	position: fixed;
	z-index: 10;
	height: 20px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}

